html {
    position: relative;
    max-width: 100%;
}

body {
    width: 99%;

}

#itemsDisplay {
    padding-left: 1.5vw;
    display: none;
}

#aboutUs {
    padding-left: 1.5vw;

}

placeholder {
    max-width: 99vw;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.placeholder {
    opacity: 0%;

}

.carrito {
    margin-left: 90vw;
    margin-bottom: 2vh;
}

.cartNumber {
    margin-left: 90vw;
    margin-bottom: 2vh;

}

.navbar {
    max-width: 99vw;

}

.card-body {
    max-height: 200px;

}

.card {
    margin: 5px;
    margin-top: 5px !important;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}

.item img {
    display: block;
    margin: auto;
}

.items {
    display: block;

}

.item {
    float: left;
}

.clear {
    clear: both;
}

.cart-line {
    padding: 8px;
}

.item-data {
    width: 60% !important;
}

.cart-item {
    width: 40% !important;
}

#bio {
    max-width: 70%;
    margin: 15px auto;
    padding: 10px;
  }

.babyV{
    height: 300px;

}